<div class="header__img">
<nav class="header__nav">
    <div class="header__logo">
        <h4>Kloud Kitchen</h4>
    <div class="header__logo-overlay"></div>
</div>
<ul class="header__menu">
    <li>
        <a href="#menu">Menu</a>
    </li>
    <li>
        <a href="#food">Food</a>
    </li>
    <li>
        <a href="#services">Services</a>
    </li>
    <li>
        <a href="#about">About</a>
    </li>
    <li>
        <img src="assets/icons8-search-50.png" alt="search" style="width: 20px; height: 20px;">
    </li>
</ul>
</nav>
<div class="header-content">
    <div class="header-content-info">
        <h1>TASTE THE FEEL OF FOOD</h1>
    <p>You can choose from our wide assortment of combos, traditional sushi rolls, Poke bowls, General Tao meal and sushi. We are certain that one of our many options will certainly satisfy your craving.</p>
    <div class="header-content__buttons">
        <button class="header-content__order">Order Now</button>
        <button class="header-content__menu">See Our Menu</button>
    </div>
</div>
</div>

</div>
